doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title CIFC Medan
    |     
    link(rel='stylesheet', type='text/css', href='dist/build/build.css')
  |   

  body
    article
      section.emphatic-text.pertama(data-bespoke-backdrop='pertama')
        img(src='dist/build/chelsea.jpg', width='60%', border-radius: 10px)
        |    
        br
        |  
        br
        |          
        h2(style='color: #006442') CIFC MEDAN
        | 
        br
        |   
        h3(style='color: #006442') chelsea islan fans club Medan
        |      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/mw1.jpg', width='55%', border-radius: 10px)
        |    
        br
        img(src='dist/build/mw3.jpg', width='55%', border-radius: 10px)
      | 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/c3.jpg', width='70%', border-radius: 10px)
        | 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/c2.jpg', width='70%', border-radius: 10px)
        |     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci3.jpg', width='90%', border-radius: 10px)
        | 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci2.jpg', width='90%', border-radius: 10px)
        | 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci5.jpg', width='90%', border-radius: 10px)
        | 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci1.jpg', width='90%', border-radius: 10px)
        |  
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci4.jpg', width='90%', border-radius: 10px)
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/ci6.jpg', width='90%', border-radius: 10px)  

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/c1.jpg', width='65%', border-radius: 10px)   

     
      section.emphatic-text.socmed(data-bespoke-backdrop='socmed')
        h2.bullet(style='color: #2F426A;') social media
        br
        br
        |         
        ul.socmed1          
          li Instagram : @CIFC_Medan
          |           
          li Twitter   : @CIFC_Medan
         
    script(src='dist/build/build.js')
