doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title Hello World
    |     
    link(rel='stylesheet', type='text/css', href='dist/build/build.css')
  |   
  body
    article
      section.emphatic-text.pertama(data-bespoke-backdrop='pertama')
        img(src='dist/build/haha.png', width='70%')
      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src='dist/build/haha.png', width='50%')
        |         
        br
        |         
        h2 Bitsmikro
        |         
        p(style='font-size: 25px; margin-left: 0; margin-right: 0;line-height: 30px;margin-top:25px') Big Family of Informatics Students Mikroskil
      |       
      section.emphatic-text.emphatic(data-bespoke-backdrop='emphatic')
        img(src='dist/build/pin.jpg', width='15%')
        |  
        br
        br
        |         
        ul.ketua1
          li Pembina &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Sunario Megawan S.Kom., M.Kom.
          |           
          li Ketua &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Albert
          |           
          li Wakil Ketua : Fabiola Altines Tambunan
          |           
          li Sekretaris    &nbsp;    : Sio Jurnalis Pipin
          |           
          li Bendahara    &nbsp;    : Diana Kardofa
      |       
      section.emphatic-text.semua(data-bespoke-backdrop='semua')
        img(src='dist/build/team.jpg', width='80%')
        |         
        h3(style='line-height: 30px; color : #F1C40F') Seluruh Mahasiswa Jurusan Teknik Informatika Mikroskil adalah Anggota Bitsmikro  
      
      section.emphatic-text.socmed(data-bespoke-backdrop='socmed')
        h2.bullet(style='color: #2F426A;') social media
        br
        |         
        ul.socmed1
          li FB Group &nbsp;: facebook.com/groups/bitsmikro9 
          |  
          br
          br         
          li FB Page  &nbsp;&nbsp;&nbsp;: facebook.com/BitsmikroHmps
          |           
          li Instagram : instagram.com/bitsmikro
          |           
          li Website    &nbsp;    : bitsmikro.org
      |  
      section.emphatic-text.hiring(data-bespoke-backdrop='hiring')
        img(src='dist/build/hiring.png', width='40%')
        |         
        h3(style='color: #141414; line-height: 35px') Ikut dalam acara perekrutan Bitsmikro selanjutnya
      |           
      section.emphatic-text.why(data-bespoke-backdrop='why')
        img(src='dist/build/avatar.jpg', width='40%')
        |         
        h3.bullet(style='color: #2F426A;') Manfaat Berorganisasi
        |         
        ul.why1
          li - Belajar Berkomunikasi
          |           
          li - Teamwork
          |           
          li - Menambah Link / Networking
          |           
          li - Belajar Manajemen Waktu
          |           
          li - dll
      |       
      |       
             
      section.emphatic-text.event(data-bespoke-backdrop='event')
        img(src='dist/build/calendar.png', width='40%')
        |         
        h3.bullet(style='color: #FFF;') Kegiatan Bitsmikro
        |         
        ul.event1
          li - Seminar
          |           
          li - Workshop
          |           
          li - Short Course
          |           
          li - Rapat Umum
          |           
          li - Gathering
          |           
          li - Roadtrip
          |           
          li - dll
      
      section.emphatic-text.office(data-bespoke-backdrop='office')
        img(src='dist/build/office.png', width='60%')
        br
        |         
        h3 Kantor HMJ
        |         
        h3 Himpunan Mahasiswa Jurusan
        |         
        h3 Kampus B Mikroskil. Lantai 6
      |               
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Thank You!

      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Divisi Humas
        h3 (Hubungan Masyarakat)

      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Divisi Medinfo
        h3 (Media & Informasi)

      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Divisi PSDM 
        h3 (Peningkatan Sumber Daya Manusia)

      |       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Divisi Litbang 
        h3 (Penelitian & Pengembangan)
    |     
    script(src='dist/build/build.js')
